body#justice
{
	.hero
	{
		background: white;
		height: 80vh; 
	  	background-image: url('images/heros/justice.jpg');
	  	background-size: cover;
	  	background-position: center center;
	  	background-attachment: relative;
	}
}

body#loving
{
	.hero
	{
		background: white;
		height: 80vh;
	  	background-image: url('images/heros/loving.jpg');
	  	background-size: cover;
	  	background-position: center center;
	  	background-attachment: relative;
	}
}

body#religious
{
	.hero
	{
		background: white;
		height: 80vh;
	  	background-image: url('images/heros/religious.jpg');
	  	background-size: cover;
	  	background-position: center center;
	  	background-attachment: relative;
	}
}

body#competence
{
	.hero
	{
		background: white;
		height: 80vh;
	  	background-image: url('images/heros/competence.jpg');
	  	background-size: cover;
	  	background-position: center center;
	  	background-attachment: relative;
	}
}

body#growth
{
	.hero
	{
		background: white;
		height: 80vh;
	  	background-image: url('images/heros/growth.jpg');
	  	background-size: cover;
	  	background-position: center center;
	  	background-attachment: relative;
	}
}