body#home, body#error
{
	main 
	{
		h1
		{
			margin: 0;
			color: white;
			position: relative;
	    	top:20vh;
			text-align: center;
			font-family: 'Lobster', cursive;
			font-size: 50px;
			content: "";
  			left: 0;
  			right: 0;
  			z-index: -1;

  			@include breakpoint (smallerphone)
  			{
  				top:16vh;
  			}

  			-webkit-transition: all 0.7s ease-out; 
     		-moz-transition: all 0.7s ease-out; 
      		-ms-transition: all 0.7s ease-out; 
       		-o-transition: all 0.7s ease-out; 
     		transition: all 0.7s ease-out;

  			&.blur
  			{
  				-webkit-transition: all 0.3s ease-in; 
     			-moz-transition: all 0.3s ease-in; 
      			-ms-transition: all 0.3s ease-in; 
       			-o-transition: all 0.3s ease-in; 
          		transition: all 0.3s ease-in;

				-webkit-filter: blur(5px);
	  			-moz-filter: blur(5px);
	  			-o-filter: blur(5px);
	  			-ms-filter: blur(5px);
	  			filter: blur(5px);

	  			@include breakpoint(notphone)
	  			{
	  				-webkit-filter: blur(0px);
		  			-moz-filter: blur(0px);
		  			-o-filter: blur(0px);
		  			-ms-filter: blur(0px);
		  			filter: blur(0px);
	  			}
	  		}
		}

		span
		{
			color: #D91E36;
		}
	}
}

body:not(#home):not(#error)
{
	main
	{
		margin-top: 61.438px;

		.hero
		{
			h1
			{
				margin: 0;
			}

		}
	}
}

body#justice
{
	main
	{
		.hero
		{
			h1
			{
				position: relative;
				top: 20px;
				left: 20px;
				color: white;

				@include breakpoint(phone)
				{
					top: 5px;
					left: 5px;
					font-size: 25px;
				}
			}
		}

		h2
		{
			text-align: center;
			margin-top: 0;
			margin-bottom: 0;
		}

		h3
		{
			text-align: center;
		}

		.row:nth-child(1) iframe
		{
			margin-top: 118px;
			// margin-left: 15px;

			@include breakpoint(phone)
			{
				margin-top: 0;
				margin-left: 0;
			}
		}

		.row:nth-child(2) iframe
		{
			margin-top: 89px;
			// margin-left: 15px;

			@include breakpoint(phone)
			{
				margin-top: 0;
				margin-left: 0;
			}
		}

		img
		{
			margin: auto;
			display: block;
		}
	}
}

body#loving
{
	main
	{
		.hero
		{
			h1
			{
				text-align: center;
				position: relative;
				top: 20px;
			}
		}

		img 
		{
			// max-width: 100%;
			display: block;
		}

		@include breakpoint(tablet)
		{
			.one-half
			{
				width: 100%;

				img
				{
					width: 100%;
				}
			}
		}

		.column
		{
			h1
			{
				font-size: 100px;
				-ms-transform: rotate(270deg); /* IE 9 */
    			-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    			transform: rotate(270deg);
    			box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
				padding: 20px;
				width: 290px;
				text-align: center;
				margin: auto;
				margin-top: 95px;

				// @include breakpoint (tablet)
				// {
				// 	margin-top: 70px;
				// }

    // 			@include breakpoint (phone)
    // 			{
    // 				-ms-transform: rotate(0deg); /* IE 9 */
    // 				-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    // 				transform: rotate(0deg);
    // 				margin-top: 0;
    // 				margin-bottom: 20px;
    				
    // 				text-align: center;
    // 			}
			}
		}
	}
}

body#religious
{
	main
	{
		.hero
		{
			h1
			{
				position: relative;
				top: 20px;
				left: 20px;
				color: white;
			}
		}

		h2
		{
			margin: 0;
			text-align: center;
		}

		img
		{
			display: block;
		}

		.one-third
		{
			@include breakpoint(tablet)
			{
				width: 100%;
			}
		}
	}
}

body#competence
{
	main
	{
		.hero
		{
			h1
			{
				text-align: center;
				position: relative;
				top: 20px;
			}
		}

		a
		{
			color: black;
		}

		iframe#twitter-widget-0.twitter-tweet.twitter-tweet-rendered
		{
			margin: 0 !important;
			margin-right: 0 !important;
			margin-bottom: 20px !important;

			@include breakpoint(phone)
			{
				margin-bottom: 0 !important;
			}
			box-shadow: none;
		}

		.one-third
		{
			@include breakpoint(tablet)
			{
				width: 100%;
			}
		}

		@include breakpoint(tablet)
		{
			.tablet
			{
				width: 100%;
			}
		}
	}
}

body#growth
{
	main
	{
		.hero
		{
			h1
			{
				position: relative;
				top: 20px;
				right: 120px;
				float: right;

				@include breakpoint(phone)
				{
					float: none;
					text-align: center;
					right: 0;
					top: 10px;
				}
			}
		}

		#space
		{
			margin-top: 37px;

			@include breakpoint(phone)
			{
				margin-top: 20px;
			}
		}

		a
		{
			color: black;
		}

		img.margin
		{
			margin-top: 60px;

			@include breakpoint(phone)
			{
				margin-top: 20px;
			}
		}

		img.logo:not(.margin)
		{
			margin: auto;
			display: block;
		}

		.tablet
		{
			@include breakpoint(tablet)
			{
				width: 100%;
			}
		}

		.gallery-roll
		{
			a
			{
				display: block;
				float: left;
				width: calc(50% - 10px);
				height: 37vh;
				margin-bottom: 20px;
				box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
				&:nth-child(1)
				{
					margin-right: 20px;
				}

				&:nth-child(3)
				{
					margin-right: 20px;
				}

				&:nth-child(5)
				{
					margin-right: 20px;
				}

				&:nth-child(7)
				{
					margin-right: 20px;
				}
				@include background-image(scroll);
				@include ease;
				@include breakpoint(tablet)
				{
					height: 28vh;
				}

				@include breakpoint(phone)
				{
					width: 100%;
					height: 35vh;
				}

				&:hover
				{
					opacity: 0.8;
				}
			}
		}

		h2
		{
			text-align: center;
		}
	}
}